<h2>All Posts</h2>

  <% @posts.each do |post| %>
    <%= render partial: 'list_show', locals: {post: post} %>
  <% end %>

<% if current_user %>
  <%= link_to "Create New Post", new_post_path %>
<% end %>
